# Copyright (C) Barnes Group Inc. - All Rights Reserved
# 
# Unauthorized copying of this file, via any medium is strictly prohibited
# Proprietary and confidential
# Written by Tubio-Pardavila, Ricardo; ricardo-tubio@oenbarnes.com, 03.04.2024

version: '3'

vars:

tasks:

  setup:
    desc: Installs anacron in the system and configures the local user home
    cmds:
      - task: install
      - task: configure

  install:
    desc: Installs anacron in the host OS
    prompt: Os packages need to be installed, root password needed.
    internal: true
    status:
      - apt -qq list anacron 2>/dev/null | grep installed
    cmds:
      - |
        DEBIAN_FRONTEND=noninteractive \
          sudo apt update && sudo apt -y install anacron

  configure:
    desc: Creates the local resources for anacron
    internal: true
    status:
      - test -d '{{.ANACRON_DAILY}}'
      - test -d '{{.ANACRON_SPOOL_DIR}}'
      - test -f '{{.ANACRON_CONF}}'
    cmds:
      - mkdir -p '{{.ANACRON_DAILY}}'
      - mkdir -p '{{.ANACRON_SPOOL_DIR}}'
      - |
        echo "SHELL=/bin/sh" > '{{.ANACRON_CONF}}'
        echo "PATH=/sbin:/bin:/usr/sbin:/usr/bin" >> '{{.ANACRON_CONF}}'
        echo "1  0  anacron.{{.USER_NAME}}    run-parts {{.ANACRON_DAILY}}/" >> '{{.ANACRON_CONF}}'
  
  check:
    desc: Checks the local configuration file for anacron
    preconditioins:
      - sh: test -f '{{.ANACRON_CONF}}'
        msg: "Local configuration file not found, file = {{.ANACRON_CONF}}"
    cmds:
      - anacron -T -t '{{.ANACRON_CONF}}' -S '{{.ANACRON_SPOOL_DIR}}'
